*.verstas.xyz {
	tls {
		dns ovh {
			endpoint "ovh-eu"
			application_key {$OVH_APPLICATION_KEY}
			application_secret {$OVH_APPLICATION_SECRET}
			consumer_key {$OVH_CONSUMER_KEY}
		}
	}

	@anvil host anvil.verstas.xyz
	handle @anvil {
		respond "hejsan?"
	}

	@safehouse host safehouse.verstas.xyz
	handle @safehouse {
		reverse_proxy https://safehouse.incus:8200
	}
}

:80 {
	handle {
		respond "Oletko eksynyt?"
	}
}
