{
	log default {
		output stdout
		format json
		level debug
	}
}

*.verstas.xyz {
	tls {
		dns ovh {
			endpoint "ovh-eu"
			application_key {$OVH_APPLICATION_KEY}
			application_secret {$OVH_APPLICATION_SECRET}
			consumer_key {$OVH_CONSUMER_KEY}
		}
	}

	@anvil host anvil.verstas.xyz
	handle @anvil {
		respond "hejsan?"
	}

	@zot host zot.verstas.xyz
	handle @zot {
		reverse_proxy http://zot:5000
	}

	@miniflux host miniflux.verstas.xyz
	handle @miniflux {
		reverse_proxy http://miniflux:8080
	}

	@immich host immich.verstas.xyz
	handle @immich {
		reverse_proxy http://immich-server:2283
	}
}

https://miniflux.koti.sammalmaa.fi {
  reverse_proxy http://miniflux:8080
}

https://koti.sammalmaa.fi {
	respond "Oletko eksynyt??"
}


:80 {
	handle {
		respond "Oletko eksynyt?"
	}
}
